os: linux
dist: focal
language: generic
addons:
  apt:
    packages:
      - libxml-xpath-perl
services:
  - docker

git:
  depth: false

env:
  global:
    - PROD_RELEASE_BRANCH=main
    - DEV_RELEASE_BRANCH=version_1_2_1_snapshot

before_script:
  - source ci/setup_env.sh
  - ci/travis_keep_alive.sh

jobs:
  include:
    - stage: Java project
      name: "Build and test java project(s)"
      script: ci/script.sh
      env:
       - TESTS_DOCKER_ORG='zencash'
       - TESTS_IMAGE_NAME='sc-ci-base'
       - TESTS_IMAGE_TAG='focal_jdk-11_latest'
       - TESTS='000'
       - EVMAPP_DOCKER_IMAGE_NAME='evmapp'
       - BOOTSTRAPTOOL_DOCKER_IMAGE_NAME='evmapp-bootstraptool'

deploy:
  provider: releases
  token: $GITHUB_TOKEN
  prerelease: $IS_A_GH_PRERELEASE
  overwrite: true
  on:
    tags: true
    condition: $IS_A_RELEASE = true
